{% extends "home/base.html" %}
{% block content %}
        <div class="container">
            {% if books %}
                {% for item in books %}
                    <a href=" {% url 'book_info_page' item.id %}" style="text-decoration: none; color: black;">
                        <div class="card mb-3">
                            <div class="row card-body">
                                <div class="col-2">
                                    <img src=" {{ item.book_image.url }} " style="width: 100px; height: 100px;">
                                </div>
                                <div class="col">
                                    <h2>{{ item.title }}</h2>
                                    <h5>{{ item.language }}, {{ item.bookformat }}, {{ item.author }}</h5>
                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            {% else %}
                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                    <h1 class="display-4">Empty Result.</h1>
                    <p class="lead">Oops. Looks like no books have been added to your search result yet!</p>
                    </div>
                </div>
                <br>
                <br>
                <br>
            {% endif %}

        </div>
        
    </div>
{% endblock content %}